<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert%></p>
    <header>
      <nav class="main-color">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h2 class="logo"><%= link_to "Manuel Blanco Rienda", root_path %></h2>
          </li>
          <li class="col-md">
            <%= link_to "Currículum", root_path %>
          </li>
          <li class="col-md">
            <%= link_to "Proyectos", root_path %>
          </li>
          <li class="col-md">
            <%= link_to "Mi vida", root_path %>
          </li>
          <li class="col-md">
            <%= link_to "Contacto", root_path %>
          </li>

          <!-- Si el usuario está identificado, mostrará lo que haya en el siguiente bloque de código.
          También hay que recordar que el atributo user_signed_in se llama así porque he especificado a devise
          que el nombre del modelo usado para representar a los usuarios se llamará "user"-->
          <% if user_signed_in? %>
            <li class="col-md">
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%>
          </li>
          <%end%>

        </ul>
      </nav>
    </header>


    <%= yield %>
  </body>
</html>
