<%= form_with(model: [@article,@comentario], remote: true, html: {id: "comentarios-form", ":data-type": "json"}) do |form| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul id="caja-comentarios">
      <% @comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: @comentario.body%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
